
/00-Presentation.Web/obj
/00-Presentation.Web/bin
/01-Presentation.Web.Tests/obj
/01-Presentation.Web.Tests/bin
/10-Domain/obj
/10-Domain/bin
/11-Domain.Test/obj
/11-Domain.Test/bin
/20-Infrastructure.DataSource/obj
/20-Infrastructure.DataSource/bin
/21-Infrastructure.Configuration/obj
/21-Infrastructure.Configuration/bin
/22-Infrastruture.Test/obj
/22-Infrastruture.Test/bin
/30-CrossCutting.Common/obj
/30-CrossCutting.Common/bin
/_ReSharper.TimeTweet
/50_Database/Database/obj
/50_Database/Database/bin
/10_Presentation/Presentation.Web/obj
/10_Presentation/Presentation.Web.Tests/obj
/10_Presentation/Presentation.Web/bin
/10_Presentation/Presentation.Web.Tests/bin
/20_Domain/Domain.Test/bin
/20_Domain/Domain.Test/obj
/20_Domain/Domain/bin
/20_Domain/Domain/obj
/30_Infrastructure/Infrastructure.Configuration/bin
/30_Infrastructure/Infrastructure.Configuration/obj
/30_Infrastructure/Infrastructure.DataSource/bin
/30_Infrastructure/Infrastructure.DataSource/obj
/30_Infrastructure/Infrastruture.Test/bin
/30_Infrastructure/Infrastruture.Test/obj
/40_CrossCutting/CrossCutting.Common/bin
/40_CrossCutting/CrossCutting.Common/obj